<footer>
			<div class="container">
				<div class="before_footer">
					<div class="footer_menu">
						<span class="nav_link">Information</span>
						<p><a href="#">Infa</a></p>
						<p><a href="#">Nuzna</a></p>
						<p><a href="#">Tut</a></p>
						<p><a href="#">Pustowato</a></p>
						<p><a href="#">Help</a></p>
					</div>
					<div class="footer_menu">
						<span class="nav_link">Information</span>
						<p><a href="#">Infa</a></p>
						<p><a href="#">Nuzna</a></p>
						<p><a href="#">Tut</a></p>
						<p><a href="#">Pustowato</a></p>
						<p><a href="#">Help</a></p>
					</div>
					<div class="footer_menu">
						<span class="nav_link">Information</span>
						<p><a href="#">Infa</a></p>
						<p><a href="#">Nuzna</a></p>
						<p><a href="#">Tut</a></p>
						<p><a href="#">Pustowato</a></p>
						<p><a href="#">Help</a></p>
					</div>
					<div class="footer_menu">
						<span class="nav_link">Information</span>
						<p><a href="#">Infa</a></p>
						<p><a href="#">Nuzna</a></p>
						<p><a href="#">Tut</a></p>
						<p><a href="#">Pustowato</a></p>
						<p><a href="#">Help</a></p>
					</div>
					<div class="footer_menu footer_menu_300">
						<span class="nav_link">contact details</span>
						<p>Head Office: Avenue Fashion, 180-182 Regent Street, London.</p>
						<p>Telephone: 0123-456-789</p>
						<p>Email: support@yourwebsite.com</p>
					</div>
				</div>
			</div>
			<div class="foot">
				<div class="container">
					<div class="foot">
						<div><p>2020 Vlark gr. 3.9/17</p></div>
						<div>
							<p>Design by Volodymyr & Mark</p>
							<p>Dev by Volodymyr</p>
						</div>
					</div>
				</div>
			</div>
		</footer>