{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
    No homo
{% endblock %}

{% block content %}
<body>
	<div class="intro">
		<div class="back">
			<div class="container">	
				<div class="intro_inner">
					<a class="btn" href="http://ignacyjanpaderewski.com/"><p>Odwiedź festiwal</p></a>
				</div>
			</div>
		</div>
	</div>

	<div class="main_part">
		<div class="container con_1400">
			<nav  class="nav_menu nav_gallery">
				<a class="nav_link" href="#"><p>popular</p></a>
				<a class="nav_link" href="#"><p>new arrivals </p></a>
				<a class="nav_link" href="#"><p>best sellers</p></a>
				<a class="nav_link" href="#"><p>special offers</p></a>
				<a class="nav_link" href="#"><p>coming soon</p></a>
			</nav>
            {% if events %}
            <div class="gallery">
                    {% for event in events %}
                        <a class="gimg" href="{{ event.get_url }}" >
                            <div class="event_info">
                                <div class="event_name">
                                    <p class="name">{{ event.event_name }}</p>
                                </div>
                                <div class="event_main">
                                    <div class="date">
                                        <span class="date_icon icons"></span>
                                        <p>{{ event.event_date.date }}</p>
                                    </div>
                                    <div class="location">
                                        <span class="place_icon icons"></span>
                                        <p>{{ event.event_address }}</p>
                                    </div>
                                    <div class="price">
                                        <span class="price_icon icons"></span>
                                        <p>{{ event.event_cost }}</p>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ event.event_img.url }}" alt="BB">
                        </a>
                    {% endfor %}
            </div>
            {% else %}
                <h1>Sorry, we haven't this kind of events yet. Go <a href="{% url 'home' %}">Home</a></h1>
            {% endif %}
		</div>
    </div>


    {% include 'shop/teach.html' %}
</body>
{% endblock %}