{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
    No homo
{% endblock %}

{% block content %}
<body>
	<div class="intro">
		<div class="back">
			<div class="container">	
				<div class="intro_inner">
					<a class="btn" href="http://ignacyjanpaderewski.com/"><p>Odwiedź festiwal</p></a>
				</div>
			</div>
		</div>
	</div>

	<div class="main_part">
		<div class="container con_1400">
			<nav  class="nav_menu nav_gallery">
				<a class="nav_link" href="#"><p>popular</p></a>
				<a class="nav_link" href="#"><p>new arrivals </p></a>
				<a class="nav_link" href="#"><p>best sellers</p></a>
				<a class="nav_link" href="#"><p>special offers</p></a>
				<a class="nav_link" href="#"><p>coming soon</p></a>
			</nav>
			<div class="gallery">
                {% for event in events.all %}
					<a class="gimg spaceD" href="{{ event.get_url }}" >
						<div class="event_info">	
							<div class="event_name">	
								<p class="name">{{ event.event_name }}</p>
							</div>		
							<div class="event_main">
								<div class="date">
									<span class="date_icon icons"></span>
									<p>{{ event.event_date.date }}</p>
								</div>
								<div class="location">
									<span class="place_icon icons"></span>
									<p>{{ event.event_address }}</p>
								</div>
								<div class="price">
									<span class="price_icon icons"></span>
									<p>{{ event.event_cost }}</p>
								</div>	
							</div>
						</div>	
						<img class="foto_width_332" height="300" src="{{ event.event_img.url }}" alt="BB">
					</a>
                {% endfor %}
            </div>
		</div>


		<div class="teach">
			<div class="container con_1500">
				<div class="trio">
					<div class="after_gallery">
						<div class="some_foto">

						</div>
						<div class="some_name">
							<p><span class="some_select">men’s</span><br>lookbook</p>
						</div>
						<div class="some_description">
							<p>Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.Elementum metus facilisis ut phasellu.
							</p>
						</div>
						<div class="some_bot">
							<a class="bot_view_now" href="#">view now</a>
						</div>
					</div>
					<div class="after_gallery">
						<div class="some_foto">

						</div>
						<div class="some_name">
							<p><span class="some_select">women’s</span><br>lookbook</p>
						</div>
						<div class="some_description">
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada ames . Pellentesque laoreet quis enim et mattis. Quisque interdum felis ellus.
							</p>
						</div>
						<div class="some_bot">
							<a class="bot_view_now" href="#">view now</a>
						</div>
					</div>
					<div class="after_gallery">
						<div class="some_foto">

						</div>
						<div class="some_name">
							<p><span class="some_select">your</span><br>lookbook</p>
						</div>
						<div class="some_description">
							<p>See an item you like and click the button to add it to your lookbook where you can create your own perfect look. It’s like your own boutique!
							</p>
						</div>
						<div class="some_bot">
							<a class="bot_view_now" href="#">view now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}