<body>
    <div class="menu">
		<div class="container">
			<div class="inner">
				<div class="logo"></div>
				<nav  class="nav_menu">
                    {% for category in categories %}
					<div class="menu_list">
						<a class="nav_link" href="#"><p>{{ category.category_name }}</p>
							<span class="arrow-bot"></span>
						</a>
						<div class="for_hov">
							<ul class="sub_menu_list">
                                {% for subcategory in category.subcategory_set.all %}
								<li><a href="#">{{ subcategory.subcategory_name }}</a></li>
                                {% endfor %}
							</ul>
						</div>
					</div>
                    {% endfor %}
				</nav>
			</div>
		</div>
	</div>
</body>
