{% load static %}

<body>
    <div class="menu">
		<div class="container">
			<div class="inner space_beetween">
				<div class="logo"></div>
				<nav  class="nav_menu">
                    {% for category in categories %}
					<div class="menu_list">
						<a class="nav_link" href="{{ category.get_url }}"><p>{{ category.category_name }}</p>
							<span class="arrow-bot"></span>
						</a>
						<div class="for_hov">
							<ul class="sub_menu_list">
                                {% for subcategory in category.subcategory_set.all %}
								<li><a href="{{ subcategory.get_url }}">{{ subcategory.subcategory_name }}</a></li>
                                {% endfor %}
							</ul>
						</div>
					</div>
                    {% endfor %}
				</nav>
			</div>
		</div>
	</div>
	<script src="{% static 'shop/js/jquery-3.5.1.min.js' %}"></script>
	<script>
		var s_win_w = window.innerWidth;

		function resize(){
			var forH = document.getElementsByClassName('for_hov');
			var i;
			var otsup = 0;
			var otsupInPx = "";

			for(i = 0; i < forH.length; i++){
				otsup = ((window.innerWidth - 1000)/2) + 120 * (forH.length - i) - 510;
				if(otsup <= 0){
					otsup = 50;
				}
				otsupInPx = otsup.toString() + "px";
				forH[i].style.right = otsupInPx;
			}
		}
		
		$(window).resize(function(){		  	
	    	resize();

		});

		(function(){
    		resize();
		})();
	</script>
</body>
