<div class="teach">
			<div class="container con_1500">
				<div class="trio">
					<div class="after_gallery">
						<div class="some_foto">

						</div>
						<div class="some_name">
							<p><span class="some_select">men’s</span><br>lookbook</p>
						</div>
						<div class="some_description">
							<p>Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.Elementum metus facilisis ut phasellu.
							</p>
						</div>
						<div class="some_bot">
							<a class="bot_view_now" href="#">view now</a>
						</div>
					</div>
					<div class="after_gallery">
						<div class="some_foto">

						</div>
						<div class="some_name">
							<p><span class="some_select">women’s</span><br>lookbook</p>
						</div>
						<div class="some_description">
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada ames . Pellentesque laoreet quis enim et mattis. Quisque interdum felis ellus.
							</p>
						</div>
						<div class="some_bot">
							<a class="bot_view_now" href="#">view now</a>
						</div>
					</div>
					<div class="after_gallery">
						<div class="some_foto">

						</div>
						<div class="some_name">
							<p><span class="some_select">your</span><br>lookbook</p>
						</div>
						<div class="some_description">
							<p>See an item you like and click the button to add it to your lookbook where you can create your own perfect look. It’s like your own boutique!
							</p>
						</div>
						<div class="some_bot">
							<a class="bot_view_now" href="#">view now</a>
						</div>
					</div>
				</div>
			</div>
		</div>